{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
      <div class="col-12 col-md-12 col-xl-6">
          <div class="card mb-4">
              <div class="card-body center">

                  <div class="mb-5">
                      <p>
                          Please select a location by typing a location on the search box.
                      </p>
                      <!-- <input id="pac-input" class="form-control controls" type="text" placeholder="Search a Place" />-->
                      <div id="map" class="col-md-11 col-md-offset-1" ></div>
                  </div>

                  

                  <center><a type="submit" onclick="doCapture()" class="abutton btn btn-sm btn-outline-primary" style="align-items: center; justify-content: center;">&nbsp;ANALYZE&nbsp;</a><div id="load" style="display: none; align-items: center; justify-content: center;"><div class="loader"></div> Analyzing...</div></center>

              </div>
          </div>
      </div>

      <div class="col-12 col-md-12 col-xl-6">
          <div class="card mb-4">
              <div class="card-body">
                  <h5>Original Image & Segmentation Result</h5>
                  <img id="orig_img" src="img/Image501.jpg" width="43%" style="border: 1px solid;">
                  <img id="result" src="img/Image501-mask.png" width="43%" style="border: 1px solid;">
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <b>Road and Building Pixel Density</b><hr>
                      <span id="ppixel" style="font-size: 50px;">No Result</span>
                    </div>
                    <div class="col-md-12">
                      <b>Density Classification</b><hr>
                      <span id="viability" style="font-size: 50px;">No Result</span>
                    </div>
                  </div>
                  <br><br><br>
                  
              </div>
          </div>
      </div>
  </div>
</div>
<style>
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 10%;
  border-top: 5px solid #145388;
  border-bottom: 5px solid #145388;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#map{
  width: 100%;
}

#map:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}</style>
{% endblock %}

{% block addon %}
    <script>
        var lng;
        var lat;
        $("#resultview").hide();
        $("#overlay").hide();
        $(".custom-switch").hide();

          function doCapture() {
            $(".mapboxgl-ctrl").hide("fast");
            $(".mapboxgl-ctrl-top-right").attr("style", "display: none;");
            $('#load').slideDown("fast");
            $('.abutton').slideUp("fast");
            //Inspect the element and find .gm-style>div:first>div:first>div:last>div -> May vary from versions
            //wait(5000);
            var img = map.getCanvas().toDataURL("image/jpeg", 0.9);
            var fdata = new FormData();
            fdata.append('img', img);
            if(img){
              request = $.ajax({
                url: '/analyze', // point to server-side URL
                data: fdata,
                type: 'post',
                cache: false,
                contentType: false,
                processData: false,
              });
              request.done(function(response){
                $("#result").attr('src', response.image);
                $("#orig_img").attr('src', response.o_image);
                $("#ppixel").text(response.ppixel+'%');
                $("#viability").text(response.viability);
                $('.abutton').slideDown();
                $('#load').slideUp();
                $(".mapboxgl-ctrl").slideDown("fast");
                $(".mapboxgl-ctrl-top-right").removeAttr("style");
              });
            }
          }
        </script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiaWFtamNvbyIsImEiOiJja2U0NDBncWowcGs0MnZwOG5naXoybWxzIn0.e_fMLlSOLyX2vakaU4Gd8Q';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-v9',
    zoom: 16.8,
    maxZoom: 30,
    minZoom: 16,
    center: [123.1845, 13.6308],
    preserveDrawingBuffer: true,
  });

  map.addControl(
    
    new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl
    })
  );
  </script>
{% endblock %}